.venv/
.env
todolist_core/db.sqlite3
/temp*
/celerybeat*
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/Todolist_project.iml
/.idea/vcs.xml
/.idea/.gitignore
